
/* rationale-regular - latin */  
.rat { 
    font-family: "Knewave";
}

.pop { 
    font-family: "Poppins";
}

.moonlight-el {
    @apply items-end text-6xl text-white rat;
}

.bgr {

    background-color: #EB536A; 
}

.navbar-el {
    @apply flex flex-row justify-end pt-3 mx-10 my-auto text-white pop;
}

.navbutton-el { 
    @apply mx-5 text-2xl cursor-pointer pop;
}
     
.button-el { 
    @apply justify-center w-1/6 h-12 m-5 text-2xl text-center bg-white rounded-md;
}

